<div class="p-4 container">
  <div class="container p-4">
    <h2>
      Cadastrar Novo Usuário
    </h2>
    <form action="/cadastro" method="post">
      <div class="mb-2">
        <label for="nome" class="form-label">Nome de Usuário<strong class="text-danger">*</strong></label>
        <input type="text" class="form-control" id="nome" name="nome" required>
      </div>
      <div class="mb-2">
        <label for="email" class="form-label">E-mail<strong class="text-danger">*</strong></label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="mb-2">
        <label for="senha" class="form-label">Senha<strong class="text-danger">*</strong></label>
        <input type="password" class="form-control" id="senha" name="senha" required>
      </div>
      <div class="mb-3 d-grid gap-2">
        <span class="text-muted">
          <strong class="text-danger">
            *
          </strong>
          Campos obrigatórios.
        </span>
        <button type="submit" class="btn btn-dark">Cadastrar</button>
      </div>
    </form>
  </div>
</div>
