<div class="p-4 container">
  <div class="container p-4">
    <h2>
      Login
    </h2>
    <form action="/login" method="post">
      <div class="mb-2">
        <label for="email" class="form-label">Email<strong class="text-danger">*</strong></label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="mb-2">
        <label for="senha" class="form-label">Senha<strong class="text-danger">*</strong></label>
        <input type="password" class="form-control" id="senha" name="senha" required>
      </div>
      <div class="mb-3 d-grid gap-2">
        <button type="submit" class="btn tn-sm btn-dark">
          Entrar
        </button>
      </div>
    </form>
  </div>
</div>